<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve" width="16" height="16" >
    <title>PHP</title>
  <g>
    <g>
      <g>
        <g>
          <path fill="currentColor" d="M193.1,104.5c-3.2,0-5.4,0.3-6.6,0.6V126c1.4,0.3,3.1,0.4,5.3,0.4c8.5,0,13.7-4.3,13.7-11.5C205.5,108.4,201,104.5,193.1,104.5z"/>
          <path fill="currentColor" d="M60.3,104.5c-3.2,0-5.4,0.3-6.6,0.6V126c1.4,0.3,3,0.4,5.3,0.4c8.5,0,13.7-4.3,13.7-11.5C72.7,108.4,68.2,104.5,60.3,104.5z"/>
          <path fill="currentColor" d="M10,75v106h236V75H10z M82,131.2c-5.4,5.1-13.5,7.4-22.9,7.4c-2.1,0-4-0.1-5.4-0.3v25.2H37.9V94c4.9-0.8,11.8-1.5,21.5-1.5c9.8,0,16.8,1.9,21.5,5.6c4.5,3.5,7.5,9.4,7.5,16.3C88.5,121.4,86.2,127.2,82,131.2z M156.8,163.5h-15.9V134h-26.2v29.5h-16V93h16v27.1h26.2V93h15.9L156.8,163.5L156.8,163.5z M214.8,131.2c-5.4,5.1-13.5,7.4-22.9,7.4c-2.1,0-4-0.1-5.5-0.3v25.2h-15.8V94c4.9-0.8,11.8-1.5,21.5-1.5c9.8,0,16.8,1.9,21.5,5.6c4.5,3.5,7.5,9.4,7.5,16.3C221.3,121.4,219,127.2,214.8,131.2z"/>
        </g>
      </g>
    </g>
  </g>
</svg>
