<svg 
class="svg-icon"
width="16"
height="16"
xmlns="http://www.w3.org/2000/svg" 
viewBox="0 0 256 256">
<title>REST</title>
<g transform="translate(0.000000,224.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M1750 2211 c-191 -51 -342 -177 -435 -362 l-34 -66 -74 -6 c-158 -14
-326 -101 -435 -228 -31 -35 -32 -35 -115 -36 -105 -2 -191 -24 -288 -74 -166
-86 -280 -227 -341 -419 -19 -63 -23 -95 -22 -200 0 -106 4 -137 26 -203 52
-156 170 -308 301 -385 60 -36 166 -75 235 -87 l42 -7 0 74 0 73 -58 14 c-272
62 -456 355 -398 631 36 173 143 314 288 383 98 47 172 61 279 53 l87 -7 35
48 c114 155 253 225 444 225 l102 0 16 56 c28 96 74 173 145 244 201 201 510
208 716 15 141 -131 199 -294 173 -481 -6 -45 -11 -84 -12 -88 -1 -5 35 -23
80 -41 186 -76 302 -214 339 -405 48 -240 -71 -482 -290 -592 -43 -22 -85 -40
-92 -40 -8 0 -14 -5 -14 -10 0 -23 34 -130 41 -130 20 0 129 46 183 78 77 45
180 150 229 233 119 203 127 453 22 667 -69 138 -158 227 -320 318 -15 9 -18
20 -16 75 4 123 -48 300 -119 404 -88 130 -239 238 -384 275 -100 25 -244 26
-336 1z"/>
<path d="M1070 835 l0 -344 -131 -3 -131 -3 177 -225 c98 -124 183 -231 190
-238 10 -11 46 30 190 214 97 126 179 234 182 241 4 10 -22 13 -126 13 l-131
0 0 345 0 345 -110 0 -110 0 0 -345z"/>
<path d="M1855 1093 c-38 -49 -120 -152 -182 -230 -62 -78 -113 -145 -113
-147 0 -3 57 -7 128 -8 l127 -3 3 -352 2 -353 105 0 105 0 0 355 0 354 134 3
134 3 -178 230 c-98 126 -183 231 -188 233 -4 1 -39 -37 -77 -85z"/>
</g>ss
</svg>