---
import Section from "../Section.astro"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import TypeScript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import Node from "@/icons/node.astro"
import SQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import TailwindCss from "@/icons/tailwind.astro"
import Next from "@/icons/next.astro"
import { skills } from "@cv"
import Swift from "@/icons/swift.astro"
import SwiftUI from "@/icons/swiftui.astro"
import Kotlin from "@/icons/kotlin.astro"
import Flutter from "@/icons/flutter.astro"
import Figma from "@/icons/figma.astro"
import MongoDB from "@/icons/mongo-db.astro"
import REST from "@/icons/rest.astro"
import Postgres from "@/icons/postgres.astro"
import Expressjs from "@/icons/express.astro"
import CPlusPlus from "@/icons/c-plus-plus.astro"
import QT from "@/icons/qt.astro"
import Java from "@/icons/java.astro"
import PHP from "@/icons/php.astro"
import Storybook from "@/icons/story-book.astro"
import Zustand from "@/icons/zustand.astro"
import Shadcn from "@/icons/shadcn-ui.astro"
import WordPress from "@/icons/word-press.astro"
import Liferay from "@/icons/liferay.astro"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  SQL,
  Git,
  GitHub,
  Next,
  TailwindCss,
  Swift,
  SwiftUI,
  Kotlin,
  Flutter,
  Figma,
  MongoDB,
  REST,
  Postgres,
  Expressjs,
  CPlusPlus,
  QT,
  Java,
  PHP,
  Storybook,
  Zustand,
  Shadcn,
  WordPress,
  Liferay
}
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name === "C++" ? 'CPlusPlus' : name === "Shadcn/ui" ? 'Shadcn' : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
